@use '../layout/colors.scss' as c;

/* HEADER STYLES */
.bold {
  font-weight: 900;
}

.header {
  height: auto;
  background-color: transparent;
  padding: 30px 40px;
  color: c.$black;
}

.header a {
  color: c.$black;
}

.header .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brand {
  font-size: 24px;
  font-weight: 600;
}

/* OFF-CANVAS MENU */
.offCanvasMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: c.$light-gray;
  width: 400px;
  z-index: 11;
  padding: 120px 40px;
  /* box-shadow: 5px 0px 25px 2px rgba(0, 0, 0, 0.06); */
  transform: translateX(-400px);
  -webkit-transform: translateX(-400px);
  -moz-transform: translateX(-400px);
  -ms-transform: translateX(-400px);
  -o-transform: translateX(-400px);
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
}

.open .offCanvasMenu {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.offCanvasMenu .nav .menuItem {
  font-size: 48px;
  font-weight: 700;
  line-height: 1em;
  padding-bottom: 20px;
}

.offCanvasMenu .nav .menuItem a {
  text-decoration: none;
}

.offCanvasMenu .contactInfo {
  margin: 30px 0;
  position: absolute;
  bottom: 0;
}

.offCanvasMenu .contactInfo li {
  font-size: 19px;
  line-height: 1.2em;
  padding-bottom: 7px;
}

.offCanvasMenu .contactInfo li a {
  text-decoration: none;
  border-bottom: 3px solid currentColor;
  border-color: c.$primary-color;
}
