@use 'colors';
@use 'reset.css';

// @mixin transparent-white($property, $alpha) {
//   #{$property}: rgba(255, 255, 255, $alpha);
// }

:root {
  font-family: "Gilroy", sans-serif;
}

.container {
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}
@media (min-width: 1224px) {
  .container {
    padding: 0 140px;
    // width: 1184px;
  }
}
@media (min-width: 1600px) {
  .container {
    padding: 0;
    max-width: 1240px;
  }
  .container .wrapper {
    padding-top: 150px;
  }
}

.text {
  font-size: 20px;
  line-height: 1.5em;
  color: colors.$text-color;
  margin-bottom: 1.5em;
}

.btn {
  @extend button;
  cursor: pointer;
  outline: 0;
  background-color: transparent;
  font-size: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.ghostery {
  @extend .btn;
  border: 3px solid colors.$black;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.05);
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -ms-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.ghostery:hover {
  background-color: colors.$black;
  color: colors.$white;
}

.gray {
  @extend .ghostery;
  border-color: colors.$gray;
}
.gray:hover {
  background-color: colors.$gray;
}

.withArrow {
  @extend .btn;
  border: 0;
  padding: 15px 20px;
  text-align: left;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: background-color 0.25s ease-out;
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -ms-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
}

.withArrow:hover .arrow {
  transform: translateX(30%);
  -webkit-transform: translateX(30%);
  -moz-transform: translateX(30%);
  -ms-transform: translateX(30%);
  -o-transform: translateX(30%);
}

.withArrow:hover {
  @include colors.transparent-white(background-color, 0.2);
}

.arrow {
  display: inline-block;
  line-height: 1em;
  margin-left: 12px;
  transition: transform 0.25s ease-out;
  -webkit-transition: transform 0.25s ease-out;
  -moz-transition: transform 0.25s ease-out;
  -ms-transition: transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
}

.full {
  @extend .btn;
  @include colors.transparent-white(background-color, 0.2);
  border: 0;
  &:hover {
    box-shadow: 0 0 0 3px rgba($color: #ffffff, $alpha: 0.7);
  }
  transition: box-shadow 0.2s ease-out;
  -webkit-transition: box-shadow 0.2s ease-out;
  -moz-transition: box-shadow 0.2s ease-out;
  -ms-transition: box-shadow 0.2s ease-out;
  -o-transition: box-shadow 0.2s ease-out;
}

.underline {
  @extend .btn;
  color: colors.$black;
  font-weight: 600;
  border: 0;
  padding: 0;
  & .content {
    padding: 0 0 5px 0;
    border-bottom: 3px solid colors.$primary-color;
  }
}

a.underline {
  @extend .underline;
  text-decoration: none;
  width: fit-content;
}

.underline.withArrow {
  font-size: 20px;
}

.contact .full {
  margin: 0 24px 24px 0;
  text-decoration: none;
}

.brand.rotated {
  position: absolute;
  top: 335px;
  left: 56.5px;
  display: block;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform-origin: left top;
  z-index: 10;
  color: colors.$black;
}
