@use 'colors' as c;
@use 'reset.css';

$sectionST: 80px;
$sectionSB: 80px;
$heroST: 80px;
$heroSB: 80px;

@media (min-width: 800px) {
  $heroST: 120px;
  $heroSB: 100px;
}

:root {
  font-family: "Gilroy", sans-serif;
}

/* =============================
DEFAULT PAGE CONFIG
================================ */
body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

section.hero {
  display: flex;
  flex-direction: column;
  color: c.$black;
}

.hero .wrapper {
  padding-top: $heroST;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  & .col-1 {
    width: 100%;
    z-index: 2;
    // margin-bottom: 50px;
  }
  & .col-2 {
    width: 0%;
  }
}

.hero .title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 18px;
  line-height: 1em;
}

.hero .post.title {
  font-size: 32px;
  word-wrap: break-word;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 18px;
}

.hero .subTitle {
  font-size: 42px;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 32px;
}

.hero .text {
  width: auto;
}

.actionsBlob {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../../../images/blob.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 600px;
  transform: translate(100px, -250px);
  -webkit-transform: translate(100px, -250px);
  -moz-transform: translate(100px, -250px);
  -ms-transform: translate(100px, -250px);
  -o-transform: translate(100px, -250px);
}

/* =============================
COMPONENTS
================================ */

/* 2. Text and Headings */
h2.subHeading {
  font-size: 36px;
  margin-bottom: 0.5em;
  line-height: 1em;
}

p.text {
  font-size: 20px;
  line-height: 1.6em;
  color: c.$text-color;
  margin-bottom: 1.5em;
}

/* 3. Buttons */
.btn {
  @extend button;
  cursor: pointer;
  outline: 0;
  background-color: transparent;
  font-size: 21px;
  font-weight: 400;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  width: fit-content;
}

.ghostery {
  @extend .btn;
  border: 3px solid c.$primary-color;
  transition: background-color 0.25s ease-out, color 0.25s ease-out,
    border-color 0.25s ease-out;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out,
    border-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out, color 0.25s ease-out,
    border-color 0.25s ease-out;
  -ms-transition: background-color 0.25s ease-out, color 0.25s ease-out,
    border-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out, color 0.25s ease-out,
    border-color 0.25s ease-out;
  color: c.$black;
  text-transform: capitalize;
  letter-spacing: 1px;
  box-shadow: 5px 5px 22px 0 rgba(0, 0, 0, 0.06);
  text-decoration: none;
}

.ghostery.right {
  box-shadow: none;
}

.ghostery:hover {
  background-color: #007be0;
  color: c.$white;
}

.gray {
  @extend .ghostery;
  background-color: c.$primary-color;
  color: c.$white;
  display: block;
  width: fit-content;
}
.gray:hover {
  border-color: c.$gray;
  background-color: c.$gray;
}

.withArrow {
  @extend .btn;
  border: 0;
  padding: 15px 20px;
  text-align: left;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: background-color 0.25s ease-out;
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -ms-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
}

.withArrow:hover .arrow {
  transform: translateX(30%);
  -webkit-transform: translateX(30%);
  -moz-transform: translateX(30%);
  -ms-transform: translateX(30%);
  -o-transform: translateX(30%);
}

.withArrow:hover {
  @include c.transparent-white(background-color, 0.2);
}

.arrow {
  display: inline-block;
  line-height: 1em;
  margin-left: 12px;
  transition: transform 0.25s ease-out;
  -webkit-transition: transform 0.25s ease-out;
  -moz-transition: transform 0.25s ease-out;
  -ms-transition: transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
}

.full {
  @extend .btn;
  @include c.transparent-white(background-color, 0.2);
  border: 0;
  &:hover {
    box-shadow: 0 0 0 3px rgba($color: #ffffff, $alpha: 0.7);
  }
  transition: box-shadow 0.2s ease-out;
  -webkit-transition: box-shadow 0.2s ease-out;
  -moz-transition: box-shadow 0.2s ease-out;
  -ms-transition: box-shadow 0.2s ease-out;
  -o-transition: box-shadow 0.2s ease-out;
}

.underline {
  @extend .btn;
  text-decoration: none;
  width: fit-content;
  color: c.$black;
  font-weight: 600;
  border: 0;
  padding: 0;
  & .content {
    padding: 0 0 5px 0;
    // border-bottom: 3px solid c.$primary-color;
  }
  &.white {
    color: white;
  }
}

.underline.withArrow {
  font-size: 20px;
}

.contact .full {
  margin: 0 24px 24px 0;
  text-decoration: none;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  .btn {
    margin-bottom: 32px;
    display: block;
  }
}

/* Logo styles */
.brand.rotated {
  position: absolute;
  top: 335px;
  left: 56.5px;
  display: none;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform-origin: left top;
  z-index: 10;
  color: c.$black;
}

@media (min-width: 600px) {
  h2.subHeading {
    font-size: 48px;
  }
  .buttonGroup {
    flex-direction: row;
    align-items: center;
    .btn {
      margin-bottom: 0;
    }
    .right {
      margin-left: 24px;
    }
  }
}

/* 4. DOT */
%dot {
  content: "";
  position: absolute;
  bottom: 4px;
  right: -11px;
  width: 9px;
  height: 9px;
  background-color: c.$primary-color;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

// RESPONSIVE STYLES

//iphone 5 styles
@media (max-width: 330px) {
  .container {
    padding: 0 20px;
  }
  .hero .wrapper {
    padding-top: 40px;
    .title,
    .subTitle {
      font-size: 36px;
    }
  }

  h2.subHeading {
    font-size: 28px;
  }

  p.text {
    font-size: 20px;
    line-height: 1.5em;
  }

  .actionBar {
    height: 0;
  }

  // home page specific hero fontsize
  .home .hero .title {
    font-size: 44px;
  }
  .home .hero .subTitle {
    font-size: 28px;
  }
}

// iphone 6,7,8 and above styles
@media (min-width: 330px) and (max-width: 420px) {
  .container {
    padding: 0 30px;
  }

  // home page specific hero fontsize
  .home .hero .title {
    font-size: 44px;
  }
  .home .hero .subTitle {
    font-size: 28px;
  }
}

@media (min-width: 800px) {
  .hero .wrapper {
    flex-direction: row;
    & .col-1 {
      width: 60%;
      & .title,
      & .subTitle {
        font-size: 64px;
      }
      & .post.title {
        font-size: 48px;
      }
      .text {
        width: 450px;
      }
    }
    & .col-2 {
      width: 40%;
      // display: flex;
      // align-items: center;
    }
  }
}

@media (min-width: 1168px) {
  .hero .wrapper {
    position: unset;
    & .col-1 {
      width: 50%;
    }
    & .col-2 {
      width: 50%;
    }
    & .actionsBlob {
      display: block;
    }
  }
}

@media (min-width: 1224px) {
  .container {
    padding: 0 140px;
    // width: 1184px;
  }
}

@media (min-width: 1600px) {
  .container {
    padding: 0;
    max-width: 1240px;
  }
  .container .wrapper {
    padding-top: 150px;
  }
}
