@use '../layout/colors.scss' as c;
@use '../layout/layout.scss' as l;

/* =============================
PORTFOLIO ARCHIVE STYLES
================================ */

// card styles
section.cards {
  background-color: c.$light-gray;
  padding: l.$sectionST 0;
}
.cards .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 48px;
  grid-column-gap: 48px;
}

.card {
  & .link {
    text-decoration: none;
    display: block;
    color: inherit;
    position: relative;
    min-height: 400px;
    overflow: hidden;
    & .img {
      width: 100%;
      height: 100%;
    }

    & .logo {
      position: absolute;
      width: 100%;
      height: 100%;
      // center white logo
      display: flex;
      justify-content: center;
      & .img {
        position: relative;
        margin: 96px auto;
        z-index: 2;
        transition: transform 0.6s cubic-bezier(0.25, 0.69, 0.6, 1);
        -webkit-transition: transform 0.6s cubic-bezier(0.25, 0.69, 0.6, 1);
        -moz-transition: transform 0.6s cubic-bezier(0.25, 0.69, 0.6, 1);
        -ms-transition: transform 0.6s cubic-bezier(0.25, 0.69, 0.6, 1);
        -o-transition: transform 0.6s cubic-bezier(0.25, 0.69, 0.6, 1);
      }
      & .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: c.$gray;
        z-index: 1;
        opacity: 0.4;
        transition: opacity 0.6s cubic-bezier(0.25, 0.69, 0.6, 1);
        -webkit-transition: opacity 0.6s cubic-bezier(0.25, 0.69, 0.6, 1);
        -moz-transition: opacity 0.6s cubic-bezier(0.25, 0.69, 0.6, 1);
        -ms-transition: opacity 0.6s cubic-bezier(0.25, 0.69, 0.6, 1);
        -o-transition: opacity 0.6s cubic-bezier(0.25, 0.69, 0.6, 1);
      }
      & .info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        color: #fff;
        z-index: 2;
        opacity: 0;
        transition: all 0.6s cubic-bezier(0.25, 0.69, 0.6, 1);
        -webkit-transition: all 0.6s cubic-bezier(0.25, 0.69, 0.6, 1);
        -moz-transition: all 0.6s cubic-bezier(0.25, 0.69, 0.6, 1);
        -ms-transition: all 0.6s cubic-bezier(0.25, 0.69, 0.6, 1);
        -o-transition: all 0.6s cubic-bezier(0.25, 0.69, 0.6, 1);
        & h3 {
          text-align: center;
          width: 100%;
          padding: 48px 24px 32px 24px;
          font-size: 24px;
          & span {
            font-weight: 400;
          }
        }
        & .btn.ghostery.white {
          border-color: c.$white;
          color: c.$white;
          &:hover {
            background-color: c.$white;
            color: c.$black;
          }
        }
      }
    }
    &:hover {
      .logo .img {
        transform: translateY(-72px);
        -webkit-transform: translateY(-72px);
        -moz-transform: translateY(-72px);
        -ms-transform: translateY(-72px);
        -o-transform: translateY(-72px);
      }
      .overlay {
        opacity: 0.7;
      }
      .info {
        opacity: 1;
        transform: translateY(-32px);
        -webkit-transform: translateY(-32px);
        -moz-transform: translateY(-32px);
        -ms-transform: translateY(-32px);
        -o-transform: translateY(-32px);
      }
    }
  }
}

/* =============================
PORTFOLIO SINGLE STYLES
================================ */

.highlights {
  display: none;
  position: absolute;
  color: c.$white;
  padding: 30px 40px;
  font-size: 24px;
  z-index: 2;
  background-color: transparent;
  right: 0;
  top: 0;
  & h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 1em;
  }
  & ul li {
    position: relative;
    padding-left: 30px;

    margin-bottom: 1.5em;
    line-height: 1em;
    width: 230px;
    &:before {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0px;
      background: url(../../../images/check.svg);
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }
}

.body {
  background-color: c.$light-gray;
}
#aanpak {
  padding: 48px 0;
  & .inner {
    display: flex;
    & .col-1 {
      width: 60%;
      & .text {
        max-width: 550px;
      }
    }
    & .col-2 {
      width: 40%;
      padding-left: 48px;
      display: flex;
      align-items: center;
    }
  }
}

#resultaat {
  padding: 48px 0;
  & .inner {
    background-color: c.$white;
    display: flex;
    height: 100%;
    position: relative;
    & .col-1 {
      width: 60%;
      height: 100%;
    }
    & .col-2 {
      width: 40%;
      padding: 48px;
    }
  }
}

// number styles for list
.steps {
  width: 100%;
  ul {
    color: c.$black;
    font-size: 20px;
    width: 100%;
    & .step {
      display: grid;
      grid-template-columns: 36px calc(100% - 36px);
      grid-column-gap: 0.5em;
      margin-bottom: 1em;
      line-height: 1em;
      & span:first-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: c.$primary-color;
        color: c.$white;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      & span:last-of-type {
        line-height: 1.45em;
      }
    }
  }
}

/* =============================
RESPONSIVE STYLES
================================ */
@media (max-width: 600px) {
  #aanpak,
  #resultaat {
    .inner {
      flex-direction: column;
      height: auto;
      .col-1,
      .col-2 {
        width: 100%;
      }
      .col-1 img {
        position: relative;
        max-width: 100%;
        max-height: 280px;
        object-fit: cover;
      }
    }
  }
  #resultaat .inner .col-2 {
    padding: 32px 24px;
  }
  #aanpak .inner .col-2 {
    padding-left: 0;
  }
}
@media (min-width: 728px) {
  .cards .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1168px) {
  .highlights {
    display: block;
  }
}
