@use '../layout/colors.scss' as c;

#portfolioSingle.intro {
  background-color: c.$light-gray;
  width: 100%;
  height: auto;
  & .heading {
    font-size: 48px;
  }
}

.heading {
  font-size: 72px;
  line-height: 1em;
  margin-bottom: 32px;
}

.subHeading {
  font-size: 48px;
  margin-bottom: 0.5em;
  line-height: 1em;
}

.portfolioHeroImage {
  margin-left: -80px;
  margin-top: -40px;
}

.highlights {
  color: c.$white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px 40px;
  font-size: 20px;
  & h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 1em;
  }
  & ul li {
    position: relative;
    padding-left: 30px;

    margin-bottom: 1.5em;
    line-height: 1em;
    width: 230px;
    &:before {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0px;
      background: url(../../../images/check.svg);
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }
}

.body {
  margin-top: 80px;
  & #aanpak {
    text-align: center;
    & .subHeading {
      width: 100%;
    }
  }
  & #resultaat {
    margin-top: 80px;
    background-color: c.$light-gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .col2 {
      margin-top: 10px;
      margin-bottom: 60px;
      & img {
        box-shadow: 20px 20px 32px 0px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

// number styles for list
.steps ul {
  color: c.$black;
  font-size: 20px;
  & .step {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    line-height: 1em;
    & span {
      margin-right: 0.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: c.$primary-color;
      color: c.$white;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
}

// card styles
.cards {
  background-color: c.$light-gray;
  padding: 80px 0;
}
.cards .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 35px;
  grid-column-gap: 35px;
}

.card {
  background-color: c.$white;
  & .link {
    text-decoration: none;
    display: block;
    color: inherit;
    & .upper {
      & img {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
      }
    }
    & .lower-1 {
      padding: 30px;
      & h5 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 1em;
      }
      & .description {
        font-size: 18px;
        color: c.$text-color;
      }
    }
    & .lower-2 {
      border-top: 1px solid #eeeeee;
      padding: 15px 30px;
      font-size: 14px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      & .tags {
        & span {
          text-transform: lowercase;
          color: c.$light-gray;
          background-color: c.$primary-color;
          padding: 4px 8px;
          border-radius: 36px;
          -webkit-border-radius: 36px;
          -moz-border-radius: 36px;
          -ms-border-radius: 36px;
          -o-border-radius: 36px;
        }
        & span:nth-of-type(n + 2) {
          margin-left: 10px;
        }
        & .administratie {
          background-color: c.$administratie;
        }
        & .website {
          background-color: c.$website;
        }
        & .tekst {
          background-color: c.$tekst;
        }
        & .marketing {
          background-color: c.$marketing;
        }
      }
    }
  }
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

// responsive styles
@media (min-width: 728px) {
  .cards .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1224px) {
  #aanpak {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    & .subHeading {
      text-align: left;
    }
    & .col1 {
      padding-right: 80px;
      width: 60%;
      & .text {
        max-width: 550px;
        text-align: left;
      }
    }
    & .col2 {
      flex-grow: 1;
    }
  }
  #resultaat {
    text-align: center;
    & .col1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      & .text {
        max-width: 760px;
      }
    }
  }
  // cards responsive styles
  .cards .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
