@use '../layout/colors.scss' as c;

#video {
  background-color: c.$light-gray;
  padding: 48px 0;
  .container {
    display: flex;
    flex-direction: column;
    .col-1 {
      width: 100%;
      height: 100%;
      position: relative;
    }
    .col-2 {
      width: 100%;
      background-color: c.$primary-color;
      color: c.$white;
      padding: 48px;
      .skills {
        & ul li {
          position: relative;
          padding-left: 30px;
          font-size: 20px;
          margin-bottom: 1.5em;
          line-height: 1em;
          &:before {
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0px;
            background: url(../../../images/check.svg);
            background-position: 50%;
            background-repeat: no-repeat;
          }
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.about#references {
  background-color: c.$light-gray;
  padding: 48px 0;
}

@media (max-width: 500px) {
  #video .container .col-2 {
    padding: 30px 20px;
  }
  .hero .title.about {
    font-size: 32px;
  }
}

@media (min-width: 1068px) {
  #video .container {
    flex-direction: row;
    max-height: 430px;
    .col-1 {
      width: 60%;
      height: 100%;
      overflow: hidden;
      position: relative;
      video.aboutVideo {
        position: relative;
        object-fit: cover;
        height: 100%;
        max-height: 430px;
      }
    }
    .col-2 {
      width: 40%;
      padding-left: 60px;
    }
  }
}
