@use '../layout/colors.scss' as c;

section.hero {
  // height: calc(100vh - 105px);
  display: flex;
  flex-direction: column;
  color: c.$black;
}

.hero .wrapper {
  padding-top: 120px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  & .col-1 {
    width: 100%;
    z-index: 2;
  }
  & .col-2 {
    width: 0%;
  }
}

.homeHeroImage {
  margin-left: -100px;
  margin-top: -20px;
}

.hero .title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 18px;
  line-height: 1em;
}

.hero .subTitle {
  font-size: 64px;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 32px;
}

.hero .text {
  width: 450px;
}

// .hero .text::before {
//   content: "''";
//   font-size: 48px;
//   font-weight: 700;
//   position: absolute;
//   top: 3px;
//   left: -30px;
// }

.actionsBlob {
  display: none;
  overflow: hidden;
  position: absolute;
  top: -250px;
  right: -100px;
  background-image: url(../../../images/blob.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 600px;
}

/* action bar styles */
.actionBar {
  color: c.$white;
  position: absolute;
  top: 0;
  right: -15px;
  width: 330px;
  padding: 30px 40px;
  //transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  //-webkit-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  //-moz-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  //-ms-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  //-o-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  overflow-y: auto;
  & .backArea {
    display: none;
  }
}

.actionBar .heading {
  font-size: 32px;
  font-weight: 600;
  height: 45px;
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.actionBar .subHeading {
  font-size: 20px;
  margin-bottom: 2em;
}

.actionBar .actions {
  display: flex;
  flex-direction: column;
  & .btn.withArrow {
    width: 250px;
  }
}

.actionBar .form-close {
  background: url(../../../images/close-form.svg);
  width: 48px;
  height: 48px;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
  border: none;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
  visibility: visible;
  transition: visibility 0s 0.4s ease-out;
  -webkit-transition: visibility 0s 0.4s ease-out;
  -moz-transition: visibility 0s 0.4s ease-out;
  -ms-transition: visibility 0s 0.4s ease-out;
  -o-transition: visibility 0s 0.4s ease-out;
  &.hide {
    //display: none;
    visibility: hidden;
    transition-delay: 0s;
  }
}

/* action bar ---- active styles */
.actionBar.active {
  right: 0;
  bottom: 0;
  background-color: c.$primary-color;
  width: calc(100vw);
  padding-left: 140px;
  z-index: 9;
  display: flex;
  flex-direction: row;
  &::before {
    content: "";
    height: 100%;
    width: 140px;
    background-color: c.$white;
    position: absolute;
    top: 0;
    left: 0;
  }
  & .backArea {
    display: block;
    padding: 0 40px;
    & button.back {
      border: 0;
      width: 100%;
      padding: 0;
      height: 45px;
      & .arrow {
        margin: auto;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
      }
    }
  }
  & .viewArea {
    flex-grow: 1;
    position: relative;
    // & .actionButtons {
    //   opacity: 0;
    // }
  }
  //transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  //-webkit-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  //-moz-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  //-ms-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  //-o-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}

/* Step transitions in ActionBar - styles */
.actionStep.active {
  opacity: 0;
  animation: fadeIn 0.6s 0.2s cubic-bezier(0.74, 0, 0.2, 1) forwards;
  -webkit-animation: fadeIn 0.6s 0.2s cubic-bezier(0.74, 0, 0.2, 1) forwards;
}

.formWrapper {
  opacity: 0;
  animation: fadeIn 0.6s 0.2s cubic-bezier(0.74, 0, 0.2, 1) forwards;
  -webkit-animation: fadeIn 0.6s 0.2s cubic-bezier(0.74, 0, 0.2, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
}

.active .actions {
  flex-direction: row;
  flex-wrap: wrap;
}

.active .actions .btn {
  margin-right: 24px;
  margin-bottom: 24px;
}

@media only screen and (min-width: 1068px) {
  .actionsBlob {
    display: block;
  }
  .hero .wrapper {
    flex-direction: row;
    & .col-1 {
      width: 50%;
    }
    & .col-2 {
      width: 50%;
    }
  }
  .active .subHeading {
    max-width: 500px;
  }
  .active .actions {
    margin-bottom: 24px;
  }
}
