@use '../layout/colors.scss' as c;

section.hero {
  height: calc(100vh - 105px);
  display: flex;
  flex-direction: column;
  color: c.$black;
  /* position: relative; */
}

.hero .wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero .title {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 24px;
}

.hero .subTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 32px;
}

.hero .text {
  font-size: 20px;
  line-height: 1.5em;
  color: c.$text-color;
  /* text-align: justify; */
  width: 500px;
  margin-left: 30px;
  margin-bottom: 32px;
  position: relative;
}

.hero .text::before {
  content: "''";
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  top: 3px;
  left: -30px;
}

/* action bar styles */
.actionBar {
  color: c.$white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 315px;
  background-color: c.$primary-color;
  padding: 30px 40px;
  transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  -moz-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  -ms-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  -o-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  overflow-y: auto;
  & .backArea {
    display: none;
  }
}

.actionBar .heading {
  font-size: 32px;
  font-weight: 600;
  height: 45px;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.actionBar .subHeading {
  font-size: 20px;
  margin-bottom: 2em;
}

.actionBar .actions {
  display: flex;
  flex-direction: column;
}

.actionBar .form-close {
  background: url(../../../images/close-form.svg);
  width: 48px;
  height: 48px;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
  border: none;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
  visibility: visible;
  transition: visibility 0s 0.4s ease-out;
  -webkit-transition: visibility 0s 0.4s ease-out;
  -moz-transition: visibility 0s 0.4s ease-out;
  -ms-transition: visibility 0s 0.4s ease-out;
  -o-transition: visibility 0s 0.4s ease-out;
  &.hide {
    //display: none;
    visibility: hidden;
    transition-delay: 0s;
  }
}

/* action bar ---- active styles */
.actionBar.active {
  width: calc(100vw - 140px);
  z-index: 9;
  display: flex;
  flex-direction: row;
  & .backArea {
    display: block;
    padding-right: 40px;
    & button.back {
      border: 0;
      width: 100%;
      padding: 0;
      height: 45px;
      & .arrow {
        margin: auto;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
      }
    }
  }
  & .viewArea {
    flex-grow: 1;
    position: relative;
    // & .actionButtons {
    //   opacity: 0;
    // }
  }
  transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  -moz-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  -ms-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  -o-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
}

/* Step transitions in ActionBar - styles */
.actionStep.active {
  opacity: 0;
  animation: fadeIn 0.6s 0.2s cubic-bezier(0.74, 0, 0.2, 1) forwards;
  -webkit-animation: fadeIn 0.6s 0.2s cubic-bezier(0.74, 0, 0.2, 1) forwards;
}

.formWrapper {
  opacity: 0;
  animation: fadeIn 0.6s 0.2s cubic-bezier(0.74, 0, 0.2, 1) forwards;
  -webkit-animation: fadeIn 0.6s 0.2s cubic-bezier(0.74, 0, 0.2, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
}

.active .actions {
  flex-direction: row;
  flex-wrap: wrap;
}

.active .actions .btn {
  margin-right: 24px;
  margin-bottom: 24px;
}

@media only screen and (min-width: 900px) {
  .active .subHeading {
    max-width: 500px;
  }
  .active .actions {
    margin-bottom: 24px;
  }
}
