section.hero {
  height: calc(100vh - 105px);
  display: flex;
  flex-direction: column;
  color: #001010;
  /* position: relative; */
}

.hero .wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero .title {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 24px;
}

.hero .subTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 32px;
}

.hero .text {
  font-size: 20px;
  line-height: 1.5em;
  color: #102b3f;
  /* text-align: justify; */
  width: 500px;
  margin-left: 30px;
  margin-bottom: 32px;
  position: relative;
}

.hero .text::before {
  content: "''";
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  top: 3px;
  left: -30px;
}

/* action bar styles */
.actionBar {
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #2196f3;
  padding: 30px 40px;
  overflow-y: auto;
}

.actionBar .heading {
  font-size: 32px;
  font-weight: 600;
  height: 45px;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.actionBar .subHeading {
  font-size: 20px;
  margin-bottom: 2em;
}

.actionBar .actions {
  display: flex;
  flex-direction: column;
}

/* action bar ---- active styles */
.actionBar.active {
  width: calc(100vw - 140px);
}

.active .actions {
  flex-direction: row;
  flex-wrap: wrap;
}

.active .actions .btn {
  margin-right: 24px;
  margin-bottom: 24px;
}

.active .actions .btn {
  opacity: 0.6;
}
.active .actions .btn.full:first-of-type {
  opacity: 1;
  border: 3px solid rgba(255, 255, 255, 0.6);
}

@media only screen and (min-width: 900px) {
  .active .subHeading {
    max-width: 500px;
  }
  .active .actions {
    margin-bottom: 24px;
  }
}
