@use '../layout/colors.scss' as c;
@use '../layout/layout.scss' as l;

// those heading styles are specifically for the hero section on the homepage and have highest priority
@media (min-width: 550px) {
  .home .hero .title {
    font-size: 76px !important;
  }
  .home .hero .subTitle {
    font-size: 48px !important;
  }
}

/* =============================
2. REFERENCE SECTION STYLES
================================ */
.home #references {
  background-color: c.$white;
  padding-bottom: l.$sectionSB;
  & .text {
    max-width: 550px;
  }
  & .btn {
    margin-bottom: 50px;
  }
}

#references .gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 30px;
  // & .logo {
  //   display: flex;
  // align-items: center;
  // & img {
  //   width: 100%;
  //   height: 100%;
  //   // align logo's with different dimensions
  //   max-height: 180px;
  //   object-fit: contain;
  // }
  // }
}

/* =============================
3. ABOUT SECTION STYLES
================================ */

//laptop colors
$base: #e6e8e7;
$screen: #89c9e5;
$frame: #3f3f41;
$open: #bcbdc1;
$base2: #d1d2d4;

//mixin
@mixin align-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.home #about {
  padding: l.$sectionST 0 60px 0;
  background-color: c.$primary-color;
  color: c.$white;
  & .container {
    display: flex;
    // flex-wrap: wrap-reverse;
    & .col-1 {
      width: 50%;
      // display: none; // on mobile hide laptop with video
      //the laptop
      & .laptop {
        position: relative;
        width: 450px;
        height: 278px;
        margin: 0 auto;
        background: $screen;
        border: 15px solid $frame;
        border-top: 20px solid $frame;
        border-radius: 14px 14px 0 0;
        margin: 0 0 90px 0;
        box-shadow: 0 0 0 1px $base2;
        &:before {
          content: "";
          bottom: -35px;
          background: $base;
          height: 20px;
          width: 573px;
          border-radius: 0 0 10px 10px;
          @include align-horizontal;
        }
        &:after {
          content: "";
          top: -12px;
          width: 3px;
          height: 3px;
          background: $base;
          border-radius: 50%;
          @include align-horizontal;
        }
        & .video-bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        & .base {
          bottom: -25px;
          background: $base2;
          height: 10px;
          width: 573px;
          @include align-horizontal;
          &:before {
            content: "";
            border-radius: 0 0 10px 10px;
            height: 10px;
            width: 80px;
            background: $open;
            @include align-horizontal;
          }
          &:after {
            content: "";
            position: absolute;
            height: 20px;
            width: 573px;
            border-radius: 0 0 10px 10px;
            box-shadow: 0px 10px 36px -2px rgba(0, 0, 0, 0.4);
            -webkit-border-radius: 0 0 10px 10px;
            -moz-border-radius: 0 0 10px 10px;
            -ms-border-radius: 0 0 10px 10px;
            -o-border-radius: 0 0 10px 10px;
          }
        }
      }
    }
    & .col-2 {
      width: 50%;
      & .text {
        color: c.$white;
      }
      & a.btn {
        // text-decoration: none;
        // display: block;
        color: c.$white;
        &.withArrow:hover {
          background-color: transparent;
        }
        .content {
          border-color: c.$white;
        }
      }
    }
  }
}

/* =============================
SERVICES STYLES
================================ */
.home #services {
  padding: 40px 0;
  background-color: c.$light-gray;

  & .upper {
    text-align: left;
    .text {
      max-width: 550px;
      margin-bottom: 64px;
    }
  }

  .servicesGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 60px;
    .service {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .imageBox {
        display: flex;
        justify-content: center;
        margin-bottom: 36px;
        img {
          max-width: 96px;
          text-align: center;
        }
      }
      h5 {
        font-size: 24px;
        margin-bottom: 1em;
        text-transform: capitalize;
        width: fit-content;
        position: relative;
        &::after {
          @extend %dot;
        }
      }
      h6 {
        display: none;
        font-size: 20px;
        color: rgba(52, 61, 72, 0.5);
        font-weight: 400;
      }
    }
  }
}

/* =============================
ACTIONBAR STYLES
================================ */

/* action bar styles */
.actionBar {
  color: c.$white;
  position: fixed;
  right: 0;
  bottom: -50px;
  z-index: 5;
  height: 50px;
  width: 250px;
  background-color: c.$primary-color;
  //transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  // overflow-y: hidden;
  overflow-x: hidden;
  & .backArea {
    display: none;
  }
  &:hover {
    cursor: pointer;
  }
  border-top-left-radius: 200px;
  box-shadow: 0 0 15px 5px rgba($color: c.$black, $alpha: 0.1);
}

.actionBar .heading {
  font-size: 28px;
  font-weight: 500;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionBar .subHeading {
  font-size: 18px;
  margin-bottom: 2em;
  line-height: 1.5em;
}

.actionBar .actions {
  display: flex;
  flex-direction: column;
  & .btn.withArrow {
    width: 250px;
  }
}

.actionBar .form-close {
  background: url(../../../images/close-form.svg);
  width: 48px;
  height: 48px;
  position: absolute;
  right: 0;
  top: 0px;
  overflow: hidden;
  border: none;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
  visibility: visible;
  transition: visibility 0s 0.4s ease-out;
  -webkit-transition: visibility 0s 0.4s ease-out;
  -moz-transition: visibility 0s 0.4s ease-out;
  -ms-transition: visibility 0s 0.4s ease-out;
  -o-transition: visibility 0s 0.4s ease-out;
  &.hide {
    visibility: hidden;
    transition-delay: 0s;
  }
}

/* action bar ---- active styles */
.actionBar.active {
  position: fixed;
  // -webkit-overflow-scrolling: touch;
  visibility: visible;
  right: 0;
  bottom: 0;
  background-color: c.$primary-color;
  width: 100vw;
  // min-height: 100vh;
  height: 100%;
  padding: 30px 20px;
  padding-left: 0;
  z-index: 15;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  cursor: auto;
  & .backArea {
    z-index: 15;
    display: block;
    padding: 0 10px;
    & button.back {
      display: none;
      border: 0;
      width: 100%;
      padding: 0;
      height: 45px;
      & .arrow {
        margin: auto;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
      }
    }
  }
  & .viewArea {
    flex-grow: 1;
    position: relative;
    & .heading {
      font-size: 28px;
      font-weight: 600;
      width: 80%;
      height: auto;
      display: block;
      margin-bottom: 17px;
    }
    & .next {
      margin-bottom: 30px;
    }
  }
  //transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  //-webkit-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  //-moz-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  //-ms-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  //-o-transition: all 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
  box-shadow: unset;
}

// Contact page specific styles
#contact .actionBar.active {
  min-height: calc(100vh - 93px);
  height: auto;
}

/* Step transitions in ActionBar - styles */
.actionStep.active {
  opacity: 0;
  animation: fadeIn 0.6s 0.2s cubic-bezier(0.74, 0, 0.2, 1) forwards;
  -webkit-animation: fadeIn 0.6s 0.2s cubic-bezier(0.74, 0, 0.2, 1) forwards;
}

.formWrapper {
  opacity: 0;
  animation: fadeIn 0.6s 0.2s cubic-bezier(0.74, 0, 0.2, 1) forwards;
  -webkit-animation: fadeIn 0.6s 0.2s cubic-bezier(0.74, 0, 0.2, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
}

.active .actions {
  flex-direction: row;
  flex-wrap: wrap;
}

.active .actions .btn {
  margin-right: 24px;
  margin-bottom: 24px;
}

/* =============================
RESPONSIVE STYLES
================================ */
@media (min-width: 500px) {
  .actionBar.active {
    margin-top: 0;
    & .viewArea .heading {
      font-size: 32px;
      width: 90%;
    }
    & .backArea button.back {
      display: block;
    }
  }
  .actionBar .subHeading {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .home .hero .title {
    font-size: 76px;
  }

  #references {
    & .gallery {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .home #services {
    .servicesGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .actionBar .form-close {
    right: -20px;
  }

  .actionBar {
    width: 330px;
    height: 100%;
    position: fixed;
    bottom: 0;
    visibility: hidden;
    padding: 30px 40px;
    padding-right: 20px;
    border-radius: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -ms-border-radius: unset;
    -o-border-radius: unset;
    overflow-y: auto;
    &.form-close {
      right: 0;
    }
    & .heading {
      font-size: 32px;
      font-weight: 600;
      width: 100%;
      height: 45px;
      display: block;
      margin-bottom: 17px;
    }
    &.active {
      padding-left: 140px;
      z-index: 9;
      padding-right: 40px;
      &::before {
        content: "";
        height: 100%;
        width: 140px;
        background-color: c.$white;
        position: absolute;
        top: 0;
        left: 0;
      }
      & .brand.rotated {
        display: block;
      }
      & .backArea {
        display: block;
        padding: 0 40px;
      }
    }
    box-shadow: unset;
  }

  // reset mobile specific header styles for contactpage
  #contact .actionBar.active {
    min-height: 100vh;
    height: 100%;
  }
}

@media only screen and (min-width: 1068px) {
  .homeHeroImage {
    margin-left: -100px;
    margin-top: -20px;
  }
  .active .subHeading {
    max-width: 500px;
  }
  .active .actions {
    margin-bottom: 24px;
  }
}

@media (min-width: 1168px) {
  .home #services {
    .servicesGrid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .actionBar {
    width: auto;
    position: absolute;
    bottom: unset;
    background-color: transparent;
    top: 0;
    visibility: visible;
  }
}

@media (min-width: 1600px) {
  .hero .container.wrapper {
    padding-top: 150px;
  }
  .homeHeroImage {
    margin-left: -80px;
    margin-top: -40px;
  }
}
