@use '../layout/colors.scss' as c;

input::placeholder,
textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: c.$white;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: c.$white;
}

input::-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Microsoft Edge */
  color: c.$white;
}

form h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1em;
  width: 100%;
}

label {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 8px 0;
  display: block;
  cursor: pointer;
  overflow: hidden;
}

.form-group {
  margin-bottom: 24px;
  font-size: 20px;
}

.form-group input:not([type="radio"]),
.form-group textarea,
.form-group select {
  padding: 12px 16px;
  @include c.transparent-white(background-color, 0.2);
  color: c.$white;
  line-height: 1.5em;
  border: 3px solid transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: 0;
  border: 3px solid currentColor;
  @include c.transparent-white(border-color, 0.6);
}

.form-group input[type="radio"] {
  border: 0;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6);
  background: none;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: all 0.15s ease;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 21px;
  height: 21px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  margin: 0 12px 0 0;
  vertical-align: -4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
}

.form-group input[type="radio"]:checked {
  background: url(../../../images/checkmark.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: c.$white;
  box-shadow: none;
  transition: all 0.15s ease;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  & .form-control {
    width: 100%;
  }
}

form .right {
  text-align: right;
}

form .right .btn.full {
  margin-right: 0;
}

@media only screen and (min-width: 900px) {
  form {
    max-width: 800px;
    & .actionData {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      max-width: 800px;
      & .details {
        width: 60%;
      }
      & .options {
        width: 40%;
      }
    }

    & .contactData .details {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      & .form-group {
        width: 50%;
      }
      & .form-group:nth-of-type(2n + 2) {
        padding-left: 20px;
      }
      & .form-group:nth-of-type(2n + 1) {
        padding-right: 20px;
      }
    }
  }
}

// logic for showing/hiding actionStep and contactStep
.form,
.contactPageWrapper {
  position: relative;
  & .actionData,
  .contactData {
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -moz-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -ms-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -o-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
  }
  & .actionData {
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
  }
  & .contactData {
    will-change: transform;
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
  }

  & .show.actionData,
  .show.contactData {
    opacity: 1;
    transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -moz-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -ms-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -o-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
  }
  & .show.actionData {
    z-index: 9;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  & .show.contactData {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
}

/* custom file input styles go here */
.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileInput + label {
  color: c.$white;
  display: inline-block;
  border: 3px dashed rgba($color: c.$white, $alpha: 0.7);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &.enter {
    background-color: rgba($color: c.$white, $alpha: 0.2);
  }
  & .icon {
    width: 48px;
    height: 48px;
    background: url(../../../images/upload.svg);
    margin-bottom: 15px;
  }
}
.fileInput + label {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.fileInput:focus + label {
  background: rgba($color: #ffffff, $alpha: 0.2);
}

// .fileInput:focus + label {
//   // outline: 1px dotted #000;
//   outline: -webkit-focus-ring-color auto 5px;
// }

.progressBar {
  width: 100%;
  height: 32px;
  font-size: 18px;
  line-height: 1em;
  background-color: rgba($color: c.$white, $alpha: 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0;
  & .fill {
    width: 20%;
    background-color: rgba($color: #ffffff, $alpha: 1);
    color: c.$primary-color;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}

.progressBar .fill {
  transition: width 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  -webkit-transition: width 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  -moz-transition: width 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  -ms-transition: width 0.4s cubic-bezier(0.74, 0, 0.2, 1);
  -o-transition: width 0.4s cubic-bezier(0.74, 0, 0.2, 1);
}

.uploadWrapper .btn.underline {
  margin-left: 21px;
  font-weight: 400;
  font-size: 20px;
}

// circle and checkmark animation styles on form submit
.animation {
  width: 100%;
  max-width: 500px;
  margin: 80px 0;
  display: flex;
  justify-content: center;
  position: relative;
  & svg.circle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform-origin: center;
    & .fill {
      transition: stroke-dashoffset 2s ease;
      -webkit-transition: stroke-dashoffset 2s ease;
      -moz-transition: stroke-dashoffset 2s ease;
      -ms-transition: stroke-dashoffset 2s ease;
      -o-transition: stroke-dashoffset 2s ease;
    }
    & .fill.animated {
      stroke-dashoffset: 609;
      animation: drawCircle 2s forwards;
      -webkit-animation: drawCircle 2s forwards;
    }
  }
  & .checkmark {
    width: 200px;
    height: 200px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    & span {
      width: 108px;
      height: 72px;
      background-color: transparent;
      border-left: 4px solid c.$white;
      border-bottom: 4px solid c.$white;
      display: block;
      transform-origin: center;
      margin: 46px 0 84px 0;
      opacity: 0;
      animation: showCheckmark 1s ease-out 1.5s forwards;
      -webkit-animation: showCheckmark 1s ease-out 1.5s forwards;
    }
  }
  & .chartInfo {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    & span::after {
      opacity: 0;
      display: none;
    }
    & span.success::after {
      display: block;
      content: "Het is gelukt!";
      width: 100%;
      font-size: 16px;
      margin: 5px 0;
      opacity: 1;
    }
  }
}

@keyframes drawCircle {
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes showCheckmark {
  from {
    opacity: 0;
    transform: scale(0.5) rotate(-45deg);
    -webkit-transform: scale(0.5) rotate(-45deg);
    -moz-transform: scale(0.5) rotate(-45deg);
    -ms-transform: scale(0.5) rotate(-45deg);
    -o-transform: scale(0.5) rotate(-45deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(-45deg);
    -webkit-transform: scale(1) rotate(-45deg);
    -moz-transform: scale(1) rotate(-45deg);
    -ms-transform: scale(1) rotate(-45deg);
    -o-transform: scale(1) rotate(-45deg);
  }
}
