::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

form h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1em;
}

label {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 8px 0;
  display: block;
  cursor: pointer;
  overflow: hidden;
}

.form-group {
  margin-bottom: 24px;
  font-size: 20px;
}

.form-group input[type="text"],
.form-group textarea {
  padding: 12px 16px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  line-height: 1.5em;
  border: 3px solid transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form-group input[type="text"]:focus,
.form-group textarea:focus {
  outline: 0;
  border: 3px solid rgba(255, 255, 255, 0.6);
}

.form-group input[type="radio"] {
  border: 0;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6);
  background: none;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: all 0.15s ease;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 21px;
  height: 21px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  margin: 0 12px 0 0;
  vertical-align: -4px;
  outline: none;
  cursor: pointer;
}

.form-group input[type="radio"]:checked {
  background: url(../../../images/checkmark.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #fff;
  box-shadow: none;
  transition: all 0.15s ease;
}

.submit.right {
  text-align: right;
}

@media only screen and (min-width: 900px) {
  form {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
  .details {
    width: 60%;
  }
  .contactOptions {
    width: 40%;
  }
}
