@use '../layout/colors.scss' as c;

input::placeholder,
textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: c.$white;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: c.$white;
}

input::-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Microsoft Edge */
  color: c.$white;
}

form h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1em;
  width: 100%;
}

label {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 8px 0;
  display: block;
  cursor: pointer;
  overflow: hidden;
}

.form-group {
  margin-bottom: 24px;
  font-size: 20px;
}

.form-group input:not([type="radio"]),
.form-group textarea,
.form-group select {
  padding: 12px 16px;
  @include c.transparent-white(background-color, 0.2);
  color: c.$white;
  line-height: 1.5em;
  border: 3px solid transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: 0;
  border: 3px solid currentColor;
  @include c.transparent-white(border-color, 0.6);
}

.form-group input[type="radio"] {
  border: 0;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6);
  background: none;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: all 0.15s ease;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 21px;
  height: 21px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  margin: 0 12px 0 0;
  vertical-align: -4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
}

.form-group input[type="radio"]:checked {
  background: url(../../../images/checkmark.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: c.$white;
  box-shadow: none;
  transition: all 0.15s ease;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  & .form-control {
    width: 100%;
  }
}

form .right {
  text-align: right;
}

form .right .btn.full {
  margin-right: 0;
}

@media only screen and (min-width: 900px) {
  form {
    max-width: 800px;
    & .actionData {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      max-width: 800px;
      & .details {
        width: 60%;
      }
      & .options {
        width: 40%;
      }
    }

    & .contactData .details {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      & .form-group {
        width: 50%;
      }
      & .form-group:nth-of-type(2n + 2) {
        padding-left: 20px;
      }
      & .form-group:nth-of-type(2n + 1) {
        padding-right: 20px;
      }
    }
  }
}

// logic for showing/hiding actionStep and contactStep
.form {
  position: relative;
  & .actionData {
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -moz-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -ms-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -o-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
  }
  & .show.actionData {
    z-index: 9;
    opacity: 1;
    transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -moz-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -ms-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -o-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }

  & .contactData {
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
    will-change: transform;
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
    transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -moz-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -ms-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -o-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
  }

  & .show.contactData {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -moz-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -ms-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
    -o-transition: all 0.6s cubic-bezier(0.74, 0, 0.2, 1);
  }
}
